.rounded-lg{
    border-radius: 160px;
}
.btn-primary:first-of-type{
    border:solid 2px #ffffff;
}
#contacto .btn-primary{
    border:solid 2px #ffffff;
}
.masthead-content{
    min-height: 100vh;
}