.rounded-lg{
    border-radius: 160px;
}
.btn-primary:first-of-type{
    border:solid 2px #ffffff;
}
#contacto .btn-primary{
    border:solid 2px #ffffff;
}
.masthead-content{
    min-height: 100vh;
}
.rounded-25{
    border-radius: 25px;
}.pagcurri{
    background-color: aqua;
}
.pagcurriculum{
    background-color: skyblue;
}

